<div class="about">
  <h2>About</h2>

  <p>I live in North London, write code, and write about learning to code.</p>
  <p>Currently reading up on tech product design & management.</p>

  <p>I work at <%= link_to 'Makers Academy', 'http://www.makersacademy.com/' %>. I've also worked at <%= link_to 'Surfdome', 'https://www.surfdome.com/' %>, and at <%= link_to 'HSBC', 'https://www.hsbc.co.uk/' %>.</p>

  <p><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/edward-withers-bb676b25/' %></p>
  <p><%= link_to 'Github', 'https://github.com/dearshrewdwit' %></p>
  <p><%= link_to 'Blog', '/blog' %></p>

  <%= image_tag 'profile_pic.jpg', class: 'profile-image' %>
</div>
